<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Hello express class</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque laboriosam
      quibusdam dolorum minus asperiores illum architecto rerum nulla quisquam
      sed!
    </p>
    <img src="/media/Experts.png" alt="" />
  </body>
</html>
