@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  -webkit-animation: main 8s linear infinite both;
	        animation: main 8s linear infinite both;

}


@-webkit-keyframes main {
  0% {
     background-color: blue;
    background-position: 100% 50%;
  }
  100% {
    background-color: blueviolet;
    background-position: 0% 50%;
  }
}
@keyframes main {
  0% {
    background-color: brown;
    background-position: 100% 50%;
  }
  100% {
    background-color: chartreuse;
    background-position: 0% 50%;
  }
}



.heading{
  text-align: center;
  background-color: blue;
  color: white;
}

.p1{
  background-color: green;
  font-size: 30px;
  text-align: center;
}